.spot-review {
  margin: 20px;
}

.owner {
  display: none;
}

.notFirst {
  display: none;
}

.already-reviewed {
  display: none;
}

.post-review {
  width: 150px;
}

.first-name {
  font-weight: 500;
}

.show {
  font-weight: bold;
}
