.scroll-container {
  border: 1px solid black;
  height: 78px;
  display: flex;
  align-items: center;
  margin: 0 30px;
  width: 70%;
  overflow-x: auto; /* Add this to enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping to the next line */
}

.scroll-container .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  /* width: 70%; */
  width: 100vw;
  height: 100%;
  margin-left: 20px;
}

.choice-container {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  border-bottom: 2px solid white;
  margin-right: 22px;
}

.choice-container:hover {
  border-color: black;
  color: black;
}

.choice {
  display: flex;
  flex-direction: column;
  height: 48px;
}

.choice:hover {
  color: black;
}

.choice img {
  width: 24px;
  height: 24px;
  margin: 0px auto 10px;
}

.choice span {
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 2px solid white;
}
