/*
.container span {
  color: black;
}

.container span:hover,
.container span:hover ~ span {
  color: black;
}

.container:hover span {
  color: #ff385c
}

.container p {
  display: inline-block;
} */

#review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.star {
  color: #ddd;
  transition: color 0.2s;
}

.star:hover,
.star.filled {
  color: #ff385c;
}
