#spot-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

#spot-form h3 {
  color: black;
  font-size: 25px;
  font-weight: 600;
}

#spot-form h4 {
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}

#spot-form p {
  font-size: 15px;
  margin-top: 6px;
}

.newSpot-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  /* margin: 15px */
}

.description {
  display: flex;
  flex-direction: column;
  height: 200px;
}


/* .spot-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.address-container {
  display: grid;
  /* width: 100%; */
  grid-template-areas:
    'country country'
    'street   street'
    'city      state'
    'lat         lng'
  ;


  gap: 15px;
  /* display: flex;
  flex-direction: column;
  width: 80%; */
  /* height: 200px; */
  /* align-content: space-around; */
}

/* .form-group {
  margin: auto;
  width: 300px;
} */

.form-group .label {
  width: 100%;
  font-weight: 400;
}
.form-group .input {
  width: 100%;
  margin-top: 3px;
}

.label, .input {
  display: block;
}

.country {
  grid-area: country;
}

.street {
  grid-area: street;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.lat {
  grid-area: lat;
}

.lng {
  grid-area: lng;
}
