.spot-page {
  max-width: 1000px;
  margin: 0 auto;
}

.address {
  margin: 0 20px;
}
.address h3 {
  font-size: 27px;
  margin-bottom: 0px;
}
.address p {
  margin-top: 3px;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  align-items: stretch;
  grid-template-rows: 200px, 200px;
  grid-auto-flow: dense;
  background-color: #333;
  margin: 20px;
  padding: 10px;
  height: 430px;
  overflow-x: auto;
}

.grid-container img {
  border: 1px solid white;
  max-width: 100%;
}

/* .tall {
  grid-row: span 2;
} */

.wide {
  grid-column: span 2;
  grid-row: span 2;
}

.spot-info {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

.reserve-spot {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 0px 3px 9px rgb(209, 209, 209);
  border-radius: 10px;
  width: 40%;
  height: 120px;
  margin-bottom: 15px;
  justify-content: center;
  align-content: center;
}

.reserve-spot button {
  background-color: #ff385c;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 35px 0px ;
  font-size: 17px;
  height: 30px;
}

strong {
  font-weight: 500;
  font-size: 20px;
}

.show span.bold {
  font-size: 16px;
}

.dot {
  margin: 0 10px;
}

.reserve {
  margin: 5px auto;
  height: 40%
}

.host {
  margin: 0px 5px 5px 0px;
}

.hide {
  display: none;
}

.show {
  display: auto;
}
