* {
  box-sizing: border-box;
}

.spot-page {
  max-width: 1000px;
  margin: 0 auto;
}

.address {
  margin: 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  align-items: stretch;
  grid-template-rows: 200px, 200px;
  grid-auto-flow: dense;
  background-color: #333;
  margin: 20px;
  padding: 10px;
  height: 430px;
  overflow-x: auto;
}

.grid-container img {
  border: 1px solid white;
  max-width: 100%;
}

/* .tall {
  grid-row: span 2;
} */

.wide {
  grid-column: span 2;
  grid-row: span 2;
}

.spot-info {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

.reserve-spot {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 50%;
  height: 6em;
  margin-bottom: 15px;
  justify-content: center;
}

.rating {
  margin: 3px auto;
}

.reserve {
  margin: 5px auto;
  width: 90%;
  height: 4em
}

.host {
  margin: 0px 5px 5px 0px;
}

.hide {
  display: none;
}

.show {
  display: auto;
}
