.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  padding-left: 0px;
  justify-content: space-between;
}

.filter-img {
  width: 13px;
  height: 13px;
  font-weight: 500;
  margin: 0 5px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 12px;
  justify-content: center;
  width: 93px;
  height: 48px;
  margin: 0 15px;
}

.filters button {
  border: none;
  background-color: white;
  font-size: 11px;
  font-weight: 500;
}

.taxes {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 12px;
  height: 48px;
  width: 222px;
  min-width: 213px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  justify-content: space-around;
}

.taxes p {
  margin: 0 3px;
}

.switch-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42px;
  height: 24px;
  background-color: #b1b1b1;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switch-toggle:hover {
  background-color: #747474;
}

.switch-slider {
  margin-left: 2px;
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 15px;
  transition: transform 0.3s;
}

.switch-toggle.active {
  background-color: black;
}

.switch-toggle.active .switch-slider {
  transform: translateX(100%);
}
