* {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

a, button, .modal {
  cursor: pointer;
}

h3 {
  color: darkslategray;
  font-weight: 500;
}

.star-icon {
  margin-right: 4px;
}
