.hidden {
  display: none;
}

@media (width >= 1440px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
  }
}

@media (width < 1440px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
  }
}

.nav a {
  color: #ff385c;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

@media (width <= 1000px) {
  .navbar-text {
    display: none; /* Hide the text */
  }
}

.nav-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 0px 1px 3px rgb(216, 216, 216);
  border-radius: 30px;
  overflow: hidden;
  height: 48px;
  width: 350px;
}

.nav-btn-container div {
  border: 1px solid rgb(223, 223, 223);
  height: 65%;
}

.nav-btn-container button {
  height: 100%;
  border: none;
  background-color: white;
}

.btn1,
.btn2 {
  font-weight: 500;
}

.btn3 {
  color: grey;
}

.fa-magnifying-glass {
  color: white;
  border: 1px;
  background-color: #ff385c;
  padding: 7px;
  border-radius: 50px;
}

.dynamic-content::before {
  content: 'Create a New Spot';
}

@media (width < 760px) {
  .dynamic-content::before {
    content: '\02D6';
    font-size: 30px;
  }
}

.nav .new-spot {
  border: 1px;
  border-radius: 30px;
  padding: 8px;
  color: rgb(71, 71, 71);
  font-size: 14px;
  margin-right: 5px;
}

.nav .new-spot:hover {
  background-color: rgb(243, 243, 243);
}

hr {
  display:block;
  width: 100%;
  margin: 15px 0;
  border: 0.5px solid rgb(239, 239, 239)
}

#icon {
  margin-right: 8px;
  font-size: 36px;
}

.profileBtn {
  height: 48px;
  width: 86px;
  background-color: white;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 30px;
  position: relative;
}

.nav-btn-container:hover,
.profileBtn:hover {
  box-shadow: 0px 3px 6px rgb(216, 216, 216);
}

.innerBtn {
  color: rgb(97, 97, 97);
  width: 62px;
  height: 30px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

#bars {
  font-size: 20px;
  margin-right: 20px;
}

.modal:hover {
  background-color: #f2f2f2;
}

.modal {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin: 11px 0px;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.profile-dropdown {
  border-radius: 15px;
  box-shadow: 0px 0px 10px  rgb(209, 209, 209);
  position: absolute;
  right: 37px;
  top: 60px;
  padding: 0px;
  text-align: center;
  z-index: 2;
  background-color: white;
  width: 250px;
  list-style-type: none;
  padding-top: 6px;
}

.profile-dropdown li {
  margin: 3px;
}

.manage-spots {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
  margin: 10px auto 0px auto;
  padding: 5px 0px;
}

.manage-spots a {
  font-size: 16px;
  color: black;
  font-weight: 400;
  margin: 2px auto;
  width: 100%;
  padding: 3px;
}

.manage-spots a:hover {
  background-color: #f2f2f2;
}

.logout-btn {
  width: 50%;
  height: 3em;
  margin: 10px auto;
  border: none;
  background-color: #ff385c;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.logout-btn:hover {
  box-shadow: 0px 0px 10px  rgb(209, 209, 209);
}

.logged-out {
  display: none;
}
