* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.profileBtn {
  height: 48px;
  width: 86px;
  background-color: white;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 30px;
}

.innerBtn {
  color: rgb(97, 97, 97);
  width: 62px;
  height: 30px;
  /* padding: 8px 8px 8px 14px; */
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

#bars {
  font-size: 20px;
  margin-right: 20px;
}
